/* #region Font */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* #endregion Font */

html {
    scroll-behavior: smooth;
}

/* #region Body */

body {
    margin: 0px;
    background-color: #363b74;
}

/* #endregion Body */

/* #region Header */
header {
    background-color: #363b74;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;
}

.menu-hover:hover {
    color: #c79dd7;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    display: flex;
    gap: 50px;
}

.head-logo {
    height: 100%;
    /* padding : 100px; */
}

.image-jeff-bezos-header {
    /* border: 5px solid white; */
    margin: 0px;
}

/* #endregion Header */

/* #region Content */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    gap: 5rem;
}

.home-description {
    margin: 0px;
}

.home-description-3 {
    max-width: 600px;
}

/* Content section */
.content > div {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: white;
}

/* Odd content section */
.content > div:nth-child(2n + 1) {
    background-color: #673888;
}

/* Even content section */
.content > div:nth-child(2n) {
    background-color: #4d1b7b;
}

.title-about {
    text-align: center;
}

.container-about {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    max-width: 960px;
    grid-template-areas:
        "b1 b2"
        "b1 b3";
}

.box {
    background-color: #c79dd7;
    padding: 20px;
    border-radius: 10px;
    color: #4d1b7b;
}

.box-about {
    display: grid;
    gap: 10px;
}

.box-about-paragraph {
    text-align: justify;
}

.box1 {
    grid-area: b1;
}

.box2 {
    grid-area: b2;
}

.box3 {
    grid-area: b3;
}

.image-jeff-bezos-content {
    border-radius: 10px;
    border: 5px solid #4d1b7b;
}

.title-portofolio {
    text-align: center;
}

.container-portofolio {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.card-portofolio {
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: #c79dd7;
}

/* #endregion Content */

/* #region Footer */

footer {
    background-color: #363b74;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

/* #endregion Footer */

/* #region Side-menu */

/* Base side menu class */
.side-menu {
    width: max(
        10%,
        15em
    ); /* Ensure the width does not consume the entire screen */
    position: fixed; /* Make the position fixed to the screen so that it follows scroll */
    height: 80vh; /* 80% viewport height */
    top: 15vh; /* 15% viewport height down so that it does not overlap with the header */
    z-index: 1; /* 1 z-index so that it is drawn in front of the content */
    background-color: #21286f; /* Background color */
    color: white; /* Text color */
}

/* Side menu title */
.side-menu-title {
    font-size: 1.25em; /* Make text slightly bigger */
    font-weight: bold; /* Make text bold */
    text-align: center; /* Center the text */
    padding: 0.5em 0; /* Apply top and bottom padding to separate it from side menu content */
}

/* Container for side menu content */
.side-menu-content-container {
    width: 100%; /* 100% width of the parent element (side menu element) */
    height: 100%; /* 100% height of the parent element (side menu element) */
    opacity: 0; /* Content is not visible initially */
    transition: opacity 500ms; /* Apply transition effect to opacity */
    padding: 0 0.5em; /* Apply left and right padding to the content */
}

/* Transition for side menu upon hover */
.side-menu-content-container:hover {
    opacity: 1; /* Make content visible upon hover */
}

/* Side menu arrow */
.side-menu-arrow {
    cursor: default; /* Don't display text cursor if it is selected */
    position: absolute; /* Make the position absolute relative to the parent element (side menu element) */
    top: 50%; /* Place on middle of side menu */
    font-size: 2em; /* Bigger font for arrow */
    transform: translateY(-50%); /* Alternative for middle text baseline */
}

/* Specific style for left side menu */
.side-menu.left {
    left: min(
        -8%,
        -12em
    ); /* Initial position of left side menu - only make arrow available */
    transition: left 500ms; /* Apply transition effect to left position */
    border-radius: 0px 20px 20px 0px; /*rounded corner left side*/
}

/* Transition for left side menu upon hover */
.side-menu.left:hover {
    left: 0; /* Move left side menu to the right on hover */
}

/* Specific style for left side menu arrow */
.side-menu-arrow.left {
    right: 2.5%; /* Place arrow on the right side of the side menu */
}

/* Specific style for right side menu */
.side-menu.right {
    right: min(
        -8%,
        -12em
    ); /* Initial position of right side menu - only make arrow available */
    transition: right 500ms; /* Apply transition effect to right position */
    border-radius: 20px 0px 0px 20px; /*rounded corner right side*/
}

/* Transition for right side menu upon hover */
.side-menu.right:hover {
    right: 0; /* Move right side menu to the left on hover */
}

/* Specific style for right side menu arrow */
.side-menu-arrow.right {
    left: 2.5%; /* Place arrow on the left side of the side menu */
}

/* Side menu item */
.side-menu-item:hover {
    color: #c79dd7; /* Change text color upon hover */
}

/* #endregion Side-menu */
